{% extends 'common/index_layout.html' %}
{% load thumbnail %}
{% block mainpage_slider %}
    <div id="slider">
        <div id="slider-full" class="slider-boxed">
            <ul>
                {% for banner in adv %}
                    {% if banner.adv_position == 1 %}
                        {% thumbnail banner.pic '1300x580' crop='center' as thumb %}
                            <li data-transition="random" data-masterspeed="1500" data-delay="10000"
                                data-thumb="{{ thumb.url }}">
                                <img src="{{ thumb.url }}" alt="{{ adv.title }}"
                                     data-kenburns="on" data-duration="15000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100">
                                <div class="sld-bg"></div>
                                <div class="tp-caption" data-x="20" data-speed="1100" data-start="1500" data-easing="Linear.easeNone" data-endspeed="500" data-endeasing="Power4.easeIn" style="z-index:3; max-width:350px; white-space: normal !important;">
                                    <div class="sld-full">
                                        <div class="sld-full-title">{{ banner.title }}</div>
                                        <div class="sld-full-desc">{{ banner.description }}</div>
                                        <div class="sld-full-date">{{ banner.additional }}</div>
                                    </div>
                                </div>
                            </li>
                        {% endthumbnail %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}
{% block main_content %}
    <div class="home-fixed">
        <div id="home-left">
            <h3 class="sh-title">Послендие посты</h3>
            <h3 class="sh-title2">в блоге</h3>
            <div class="sh-media3 fixed">
                {% for topic in list %}
                    {% include "blog/_blog_item.html" %}
                {% endfor %}
            </div>
            <h3 class="sh-title">Новые записи</h3>
            <h3 class="sh-title2">эфиров</h3>
            <div class="sh-media3 fixed">
                {% for topic in records %}
                    <div class="mix">
                        {% include "records/_record_item.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "blog/_sidebar.html" %}
    </div>
{% endblock %}