{% extends 'common/layout.html' %}
{% load thumbnail %}
{% load l10n %}

{% block main_content %}
    <div class="page-title">
        <h1 class="blog">События</h1>
    </div>
    {% for light_item in light_list %}
        <div class="ev2">
            <div class="ev2-cover">
                <div class="ev2-bg"></div>
                {% thumbnail light_item.pic '360x360' crop='center' as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ light_item.title }}"/>
                {% endthumbnail %}
                <a href="{{ media_path }}{{ light_item.pic }}"
                   class="ev2-zoom" data-rel="prettyPhoto-cover"></a>
            </div>
            <div class="ev2-text">
                <div class="ev2-title">
                    <h2>
                        <a href="{{ light_item.url }}">{{ light_item.title }}</a>
                    </h2>
                </div>
                <p>{{ light_item.preview }}</p>
                <div class="ev2-lv">
                    <div class="info-view">{{ light_item.hits }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}