{% extends 'common/inner_layout.html' %}
{% load thumbnail %}
{% load l10n %}

{% block main_content %}
    <div class="sng-left">
        <div class="sng-cover">
            <div class="sng-bg"></div>
            {% thumbnail topic.pic '774x330' crop='center' as thumb %}
                <img src="{{ thumb.url }}" alt="{{ topic.title }}"/>
            {% endthumbnail %}
            <div class="sng-title">
                <h1>{{ topic.title }}</h1>
            </div>
            <div class="sng-lvc">
                <a href="#" id="getlike" class="info-liked" data-post_id="38" title="Unlike">1</a>
                <div class="info-view">{{ topic.hits }}</div>
            </div>
            <div class="sng-date">{{ topic.date_published|localize }}</div>
        </div>
        <div id="sng">
            {{ topic.content|safe }}
        </div>
    </div>
{% endblock %}